@(p: controllers.support.AiBuilderViewParams)

@main("Tic Tac Toe") {
    <h1>Tic Tac Toe AI Builder</h1>
        
<div class="row">
	<div class="col-md-6">
	<label for="ruleList">click example to try it.</label>
	   	<ul id="ruleList" class="list-group">
		   	@for(sampleRule <- p.sampleRules) {
		    	<li class="ruleText list-group-item"><span class="btn btn-default x">X</span><span class="btn btn-default o">O</span>
		    		<span class="sampleRule">@sampleRule</span>
		    	</li>
		   	}
	   	</ul>
	</div>
	<div class="col-md-6">
        <label for="editRuleAsX">Enter rule for X or choose rule from list:</label>
        <p>
			<textarea id="editRuleAsX" rows="4" cols="50">@p.xRule</textarea>
		</p>
		
        <label for="editRuleAsO">Enter rule for O or choose rule from list:</label>
        <p>
			<textarea id="editRuleAsO" rows="4" cols="50">@p.oRule</textarea>
		</p>
	    <input type="button" id="parseRule" value="parse rules and run match"/>
		@if(!p.matchResults.isEmpty) {
			<div class="panel-success">
				<div class="panel-heading">Match Results</div>
				<p>@Html(p.matchResults)</p>
			</div>
		}
	</div>   	
</div>

<div class="row">
	<div class="col-md-6">
		@p.xResult._1 match {
			case true => {<div class="panel-success">}
			case false => {<div class="panel-danger">}
		}
		
		<div class="panel-heading">Parse Results for X</div>
		<pre>@p.xResult._2</pre></div>
	</div>
	<div class="col-md-6">	
		@p.oResult._1 match {
			case true => {<div class="panel-success">}
			case false => {<div class="panel-danger">}
		}
		
		<div class="panel-heading">Parse Results for O</div>
		<pre>@p.oResult._2</pre></div>
	</div>
</div>

<div id = "usageWrapper">Click to show/hide Api Usage:</div>
<div id="usage">@Html(p.usage)</div>

}
